@import url('/css/global.css');
#LoginTitle {

}

#WarningTitle {
	color: red;
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline overline;
}

#WarningText {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	font-weight: bold;
}

#FillerTextHeader {
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}


#FillerText {
	text-align: center;
}

#btnLogin {
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#txtUsername {
	text-align: center;
	display: block;
	margin: 0 auto;

}
#txtEmail {
	text-align: center;
	display: block;
	margin: 0 auto;

}

